{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Ajouter Un Medecin{% endblock %}

{% block body %}

<section>
        <label><h1>Ajouter Medecin</h1></label>
    {{form_start(form)}}
   
       {{form_widget(form)}}

    <button class="btn btn-dark"  type="submit">Enresigtrer</button>


    {{form_end(form)}}
</section>

{% endblock %}
